.accountCreated {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.accountCreated p {
    font-size: 40px;
    line-height: 150%;
    font-weight: 500;
    padding-left: 10%;
    padding-right: 20%;
}

.accountCreated .imgHeader,
.imgFooter {
    width: 100%;
}

.accountCreated button {
    width: 70%;
    margin: 5vh auto;
}