.signIn {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.signIn h1 {
    color: #F46B5D;
    margin: 10vh 0 6vh 0;
    font-size: 2rem;
    line-height: 2.5rem;
    font-weight: 600;
}

.signIn .account {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.signIn .signUp {
    margin-top: 10vh;
    font-size: 1.375rem;
}

.signIn .signUp p {
    color: #3B4054;
}

.signIn .signUp a {
    text-decoration: none;
    color: #1D878C;
    line-height: 41px;
}