.btn-active {
  display: block;
  margin: 0 auto;
  margin-top: 3vh;
  width: 90%;
  height: 4rem;
  background-color: #fb8f67;
  border-radius: 10px;
  border: none;
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
}
